#section-1{
    background-color: #1D2830;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}
#section-1>div{
    display: flex;
    flex-direction: column;
    text-align: left;
}

#section-1>#first-div{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#section-1>#first-div>div{
    display: flex;
    flex-direction: column;
}

#section-1>#second-div>img{
    width: 140px;
    height: auto;
    cursor: pointer;
}
#section-1>#second-div>h5{
    margin: 0 0 4px 8px;
    font-size: 15px;
}
#section-1>#first-div>div>h5{
    margin-bottom: 8px;
    font-size: 15px;
}
#section-1>#first-div>div>a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-bottom: 8px;
}

#section-1>#collapsible-div{
    display: none;
}

#section-2{
    background-color: #1D2830;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    border-top: 0.1px solid #fff;
    color: #fff;
    font-size: 14px;
}
#section-2>div>img{
    width: 20px;
    height: auto;
    margin-left: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 960px){
    #section-1{
        padding: 50px 80px;
    }
    #section-1>#second-div{
        margin-left: 30px;
    }
    #section-2{
        padding: 10px 80px;
    }
}

@media only screen and (max-width: 800px){
    #section-1{
        display: flex;
        flex-direction: column;
        padding: 50px 30px;
    }
    #section-1>#collapsible-div{
        margin-left: 8px;
        margin-bottom: 10px;
        display: block;
    }
    #collapsible-div>div{
        margin-bottom: 10px;
        cursor: pointer;
    }
    .Collapsible>.Collapsible__trigger{
        font-weight: 600;
    }
    .Collapsible>.Collapsible__trigger::after{
        content: " ▾";
    }
    #collapsible-div .Collapsible__contentInner{
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }
    #collapsible-div .Collapsible__contentInner>a{
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        margin-bottom: 4px;
    }
    #section-1>#first-div{
        display: none;
    }
    #section-1>#second-div{
        margin-left: 0;
    }
    #section-2{
        padding: 10px 30px;
    }
    #section-2>div{
        display: none;
    }
}